{% extends "base.html" %}

{% block title %}상세페이지{%endblock %}

{% block script %}
{% if isAnswer == False %}
<script>
  setInterval(requestAnswer, 1000)

  function requestAnswer() {
    $.ajax({
      type: 'GET',
      url: '/api/isGPTAnswer/{{id}}',
      data: {},
      success: function (response) {
        if (response['isGPTAnswer']) {
          location.reload()
        }
      },
    });
  }
</script>
{% endif %}
{% endblock %}

{% block head %}

{% include'head.html' %}
{{ super() }}

{% endblock %}
{%block content %}

<div class="important flex flex-col w-full items-center pb-32">
  <div class="flex flex-col w-full py-2">
    <div class="w-full border-2 border-transparent border-b-gray-300">
      <p class="text-2xl font-bold px-3 py-3">{{title}}</p>
    </div>
    <div class="w-full flex justify-between py-2">
      <p class="text-sm px-3">질문자 : {{nickname}}</p>
      <p class="text-sm px-3">{{date}}</p>
    </div>
    <div class="w-full flex flex-col px-3 py-2 border-dashed border-2 border-sky-500 bg-gray-200">
      <p class="text-xl font-bold">ChatGPT:</p>
      <p class="text-lg">{{content}}</p>
    </div>
    {% if isLogin == True %}
    <form class="flex w-full gap-x-4 my-5" action="/api/comment/create/{{id}}" method="POST">
      <input id="myComment" name="myComment" type="text" autocomplete="off" required
        class="flex-auto rounded-md border-0 bg-white/5 px-3.5 py-2 text-zinc shadow-sm ring-1 ring-inset ring-black/10 focus:ring-2 focus:ring-inset focus:ring-zinc-500 sm:text-sm sm:leading-6"
        placeholder="답변을 도와주세요! ChatGPT 친구가 정확하지 않아요!">
      <button type="submit"
        class="flex-none rounded-md bg-zinc-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-zinc-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-zinc-500">답글달기</button>
    </form>
    {%endif%}
    <div id="comment-list" class="flex flex-col border-2 border-transparent border-t-gray-200">
      {% for comment in commentData %}
      <div class="px-8 py-3 space-y-4 border-2 border-transparent border-b-gray-200">
        <p class="text-xl font-bold">{{comment['nickname']}}</p>
        <p class="text-lg">{{comment['comment']}}</p>
        <p class="text-right">
          {{comment['date']}}
        </p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}