{% block script %}
<script>
  function goLoginPage() {
    window.location.href = '/login'
  }
  function goJoinPage() {
    window.location.href = '/join'
  }
  function logout() {
    window.location.href = '/logout'
    alert('로그아웃!')
  }
</script>
{%endblock %}

<header class="h-24 w-full fixed top-0 flex flex-row justify-between items-center bg-[#183828] shadow">
  <h1 class="text-3xl font-bold ml-5">
    <a href="/">
      <img src="/static/img/logo.png" alt="logo" class="w-52">
    </a>
  </h1>
  <div class="flex w-250 space-x-2 mr-5">
    {% if isLogin == True %}
    <button
      class="relative flex justify-center items-center rounded-md bg-transparent px-2 py-2 text-lg font-semibold text-white hover:bg-zinc-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-zinc-600"
      onclick="logout()">로그아웃</button>
    {% else %}
    <button
      class="relative flex justify-center items-center rounded-md bg-transparent px-2 py-2 text-lg font-semibold text-white hover:bg-zinc-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-zinc-600"
      onclick="goLoginPage()">로그인</button>
    <button
      class="relative flex justify-center items-center rounded-md bg-transparent px-2 py-2 text-lg font-semibold text-white hover:bg-zinc-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-zinc-600"
      onclick="goJoinPage()">회원가입</button>
    {%endif%}
  </div>
</header>