{% extends "base.html" %}

{% block title %}HOME{%endblock %}

{% block head %}

{% include'head.html' %}
{{ super() }}

{% endblock %}
{%block content %}

<div class="important flex flex-col w-full items-center pb-32">
  <form class="flex w-full gap-x-4 my-5">
    <input id="email-address" name="question" type="text" autocomplete="false" required
      class="flex-auto rounded-md border-0 bg-white/5 px-3.5 py-2 text-zinc shadow-sm ring-1 ring-inset ring-black/10 focus:ring-2 focus:ring-inset focus:ring-zinc-500 sm:text-sm sm:leading-6"
      placeholder="조현오 님 무엇이 궁금하신가요?">
    <button type="submit"
      class="flex-none rounded-md bg-zinc-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-zinc-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-zinc-500">질문하기</button>
  </form>

  <div class="flex flex-col w-full py-2">
    <div class="w-full border-2 border-transparent border-b-gray-300">
      <p class="text-2xl font-bold px-3 py-3">질문 게시글</p>
    </div>
    <div class="flex flex-col py-3 border-2 border-transparent border-b-gray-200">
      <p class="text-xl px-3">답변대기중</p>
      <p class="text-xl font-bold px-3 pt-1">스택 큐 알고리즘에 대해서 알려줄 수 있나요?</p>
      <p class="text-sm px-3 pt-1">2023. 04. 04</p>
    </div>
    <div class="flex flex-col py-3 border-2 border-transparent border-b-gray-200">
      <p class="text-xl px-3">답변대기중</p>
      <p class="text-xl font-bold px-3 pt-1">스택 큐 알고리즘에 대해서 알려줄 수 있나요?</p>
      <p class="text-sm px-3 pt-1">2023. 04. 04</p>
    </div>
    <div class="flex flex-col py-3 border-2 border-transparent border-b-gray-200">
      <p class="text-xl px-3">답변대기중</p>
      <p class="text-xl font-bold px-3 pt-1">스택 큐 알고리즘에 대해서 알려줄 수 있나요?</p>
      <p class="text-sm px-3 pt-1">2023. 04. 04</p>
    </div>
    <div class="flex flex-col py-3 border-2 border-transparent border-b-gray-200">
      <p class="text-xl px-3">답변대기중</p>
      <p class="text-xl font-bold px-3 pt-1">스택 큐 알고리즘에 대해서 알려줄 수 있나요?</p>
      <p class="text-sm px-3 pt-1">2023. 04. 04</p>
    </div>
    <div class="flex flex-col py-3 border-2 border-transparent border-b-gray-200">
      <p class="text-xl px-3">답변대기중</p>
      <p class="text-xl font-bold px-3 pt-1">스택 큐 알고리즘에 대해서 알려줄 수 있나요?</p>
      <p class="text-sm px-3 pt-1">2023. 04. 04</p>
    </div>
    <div class="flex flex-col py-3 border-2 border-transparent border-b-gray-200">
      <p class="text-xl px-3">답변대기중</p>
      <p class="text-xl font-bold px-3 pt-1">스택 큐 알고리즘에 대해서 알려줄 수 있나요?</p>
      <p class="text-sm px-3 pt-1">2023. 04. 04</p>
    </div>
    <div class="flex flex-col py-3 border-2 border-transparent border-b-gray-200">
      <p class="text-xl px-3">답변대기중</p>
      <p class="text-xl font-bold px-3 pt-1">스택 큐 알고리즘에 대해서 알려줄 수 있나요?</p>
      <p class="text-sm px-3 pt-1">2023. 04. 04</p>
    </div>
    <div class="flex flex-col py-3 border-2 border-transparent border-b-gray-200">
      <p class="text-xl px-3">답변대기중</p>
      <p class="text-xl font-bold px-3 pt-1">스택 큐 알고리즘에 대해서 알려줄 수 있나요?</p>
      <p class="text-sm px-3 pt-1">2023. 04. 04</p>
    </div>
  </div>
</div>

{% endblock %}